<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixbang.logistics.mapper.SenderMapper">
  <resultMap id="BaseResultMap" type="com.sixbang.logistics.domain.Sender">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="numbering" jdbcType="VARCHAR" property="numbering" />
    <result column="sname" jdbcType="VARCHAR" property="sname" />
    <result column="sphone" jdbcType="VARCHAR" property="sphone" />
    <result column="saddress" jdbcType="VARCHAR" property="saddress" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sender
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sixbang.logistics.domain.Sender">
    insert into sender (sid, numbering, sname, 
      sphone, saddress)
    values (#{sid,jdbcType=INTEGER}, #{numbering,jdbcType=VARCHAR}, #{sname,jdbcType=VARCHAR}, 
      #{sphone,jdbcType=VARCHAR}, #{saddress,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sixbang.logistics.domain.Sender">
    update sender
    set numbering = #{numbering,jdbcType=VARCHAR},
      sname = #{sname,jdbcType=VARCHAR},
      sphone = #{sphone,jdbcType=VARCHAR},
      saddress = #{saddress,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select sid, numbering, sname, sphone, saddress
    from sender
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select sid, numbering, sname, sphone, saddress
    from sender
  </select>
  <resultMap id="BaseResultMap" type="com.sixbang.logistics.domain.Sender">
    <id column="sid" jdbcType="INTEGER" property="sid" />
    <result column="numbering" jdbcType="VARCHAR" property="numbering" />
    <result column="sname" jdbcType="VARCHAR" property="sname" />
    <result column="sphone" jdbcType="VARCHAR" property="sphone" />
    <result column="saddress" jdbcType="VARCHAR" property="saddress" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sender
    where sid = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sixbang.logistics.domain.Sender">
    insert into sender (sid, numbering, sname, 
      sphone, saddress)
    values (#{sid,jdbcType=INTEGER}, #{numbering,jdbcType=VARCHAR}, #{sname,jdbcType=VARCHAR}, 
      #{sphone,jdbcType=VARCHAR}, #{saddress,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sixbang.logistics.domain.Sender">
    update sender
    set numbering = #{numbering,jdbcType=VARCHAR},
      sname = #{sname,jdbcType=VARCHAR},
      sphone = #{sphone,jdbcType=VARCHAR},
      saddress = #{saddress,jdbcType=VARCHAR}
    where sid = #{sid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select sid, numbering, sname, sphone, saddress
    from sender
    where sid = #{sid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select sid, numbering, sname, sphone, saddress
    from sender
  </select>
</mapper>