<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixbang.logistics.mapper.ReceiptOrderMapper">
  <resultMap id="BaseResultMap" type="com.sixbang.logistics.domain.ReceiptOrder">
    <id column="rc_id" jdbcType="VARCHAR" property="rcId" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="contract_id" jdbcType="VARCHAR" property="contractId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from receipt_order
    where rc_id = #{rcId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sixbang.logistics.domain.ReceiptOrder">
    insert into receipt_order (rc_id, `state`, contract_id
      )
    values (#{rcId,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{contractId,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sixbang.logistics.domain.ReceiptOrder">
    update receipt_order
    set `state` = #{state,jdbcType=VARCHAR},
      contract_id = #{contractId,jdbcType=VARCHAR}
    where rc_id = #{rcId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select rc_id, `state`, contract_id
    from receipt_order
    where rc_id = #{rcId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select rc_id, `state`, contract_id
    from receipt_order
  </select>
</mapper>